$bgc-gray: #eee;
$border-color: black;
$border-color-hover: grey;

$front-color: white;
$favorites-bgc-color: lightgrey;

$red: #fc5545;
$pink: #FCCCD1;
$green: #005E61;
$greenLight: #42BA80;
$yellow: #ffcf6f;
$orange: #F57859;
$orangeLight: #FABD91;
$blue: #29A8BF;

$greyLight: #ebebeb;
$greyDark: #2e2e2e;
$blueLight: #B8E3EB;
$blueDark: #142447;
