@import "../../styles/vars";

.field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1px;

  &__tile {
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    border: 1px solid black;

    &:hover {
      cursor: pointer;
      border: 2px solid $border-color;
    }
  }
}

.is-white {
  opacity: 0;
}
